<ion-item lines="none">
    <ion-select placeholder="Select Paper size" mode="md" interface="alert" [formControl]="inputCT"
        (ionBlur)="onTouched()" (ionChange)="onChange()">
        <ion-select-option [value]="1">1 on 1</ion-select-option>
        <ion-select-option [value]="2">2 on 1</ion-select-option>
        <ion-select-option [value]="3">3 on 1</ion-select-option>
        <ion-select-option [value]="4">4 on 1</ion-select-option>
        <ion-select-option [value]="5">5 on 1</ion-select-option>
        <ion-select-option [value]="6">6 on 1</ion-select-option>
    </ion-select>
</ion-item>