<div class="container">
    <ng-container *ngIf="!asProfileImage;else profileImageTP">
        <div class="uploader basic flex-row" (click)="onClicked($event)">
            <ion-icon color="primary" class="x-large" name="share"></ion-icon>
            <ion-label class="ion-padding-start">
                <ion-text>
                    <h1> Upload </h1>
                </ion-text>
                <p>PDF, DOC, PPT, JPG, PNG</p>
            </ion-label>
        </div>
        <div class="files flex-row ion-margin-top">
            <ng-content></ng-content>
        </div>
    </ng-container>
    <ng-template #profileImageTP>
        <div class="uploader profile flex-col" (click)="onClicked($event)">
            <ion-icon name="camera" color="primary" slot="icon-only"></ion-icon>
            <span class="image">
                <ng-content></ng-content>
            </span>
        </div>
    </ng-template>
</div>