.files {
  flex-wrap: wrap;
}
.uploader {
  width: 100%;
  padding: 16px;
  align-items: center;
  border-radius: 40px;
  // justify-content: space-between;
  background: var(--ma-color-step-0);
  border: 2px dashed var(--ion-color-primary);
}
