@media (min-width: 0px) and (max-width: 576px) {
  .kaagaz-card {
    border-radius: 0px !important;
    border-width: 0px !important;
    box-shadow: 0px 0px 2px 2px rgb(140 140 140 / 27%);
  }

  .orders .container .order-form {
    padding: 0px !important;
  }
  .orders .container .order-form .cards {
    flex-direction: column !important;
  }
  .orders .container .order-form .cards .kaagaz-card:nth-child(2) {
    margin: 8px 0px !important;
  }
}
