<ion-content class="ion-padding">
    <div class="container flex-col">
        <div class="header">
            <span class="logo"></span>
            <h1 class="ion-margin-top"> Login Now </h1>
            <p class="ion-margin-top"> Please enter the details below to continue. </p>
        </div>
        <div class="login">

        </div>
        <div class="sign-up">
            <ion-button color="primary" expand="block" fill="solid" size="large" shape="round">
                login
            </ion-button>
        </div>
    </div>
</ion-content>