<ion-content class="ion-padding">
    <div class="container flex-col">
        <div class="header">
            <span class="logo kaagaz-logo"></span>
            <h1 class="ion-margin-top"> Welcome <br> Back </h1>
            <p class="ion-margin-top"> Please enter the details below to continue. </p>
        </div>
        <div class="login flex-col ion-padding">
            <ion-item>
                <ion-label position="floating">Phone Number</ion-label>
                <ion-input></ion-input>
            </ion-item>
            <span class="actions flex-row ion-padding ion-margin-top">
                <ion-fab>
                    <ion-fab-button color="primary">
                        <ion-icon name="chevron-forward"></ion-icon>
                    </ion-fab-button>
                </ion-fab>
            </span>
        </div>
        <div class="sign-up">
            <ion-button fill="clear" color="primary"> Sign Up </ion-button>
        </div>
    </div>
</ion-content>