<ion-content class="ion-padding">
    <ion-slides pager="false" [options]="{ initialSlide: 0, speed: 400 }">
        <ion-slide>
            <div class="container flex-col">
                <div class="header">
                    <span class="logo kaagaz-logo"></span>
                    <h1 class="ion-margin-top"> Welcome To Kaagazprint </h1>
                    <p class="ion-margin-top"> Please enter the details below to continue. </p>
                </div>
                <div class="login flex-col ion-padding">
                    <ion-item>
                        <ion-label position="floating">Phone Number</ion-label>
                        
                        <ion-input [formControl]="phoneNumber"><p>+91</p></ion-input>
                    </ion-item>
                    <span class="actions flex-row ion-padding ion-margin-top">
                        <ion-fab>
                            <ion-button class="continue-button" color="primary" [disabled]="loader" (click)="phoneNumber?.valid&&login()">
                                <!-- <ion-icon *ngIf="!loader" name="chevron-forward"></ion-icon> -->
                                 <p *ngIf="!loader">Continue</p>
                                <ion-spinner *ngIf="loader" name="crescent"></ion-spinner>
                            </ion-button>
                        </ion-fab>
                    </span>
                </div>
                <div class="sign-up">
                    <ion-button fill="clear" color="primary" routerDirection="root" [routerLink]="['/sign-up']">
                        Sign Up
                    </ion-button>
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="container flex-col">
                <div class="header">
                    <span class="logo kaagaz-logo"></span>
                    <h1 class="ion-margin-top"> Verification <br> Code </h1>
                    <p class="ion-margin-top ion-margin-bottom"> We have sent the verification code to <br> <b> Your
                            Phone Number </b>
                    </p>
                    <ion-text color="primary">
                        +91 {{ phoneNumber?.value }} &nbsp;
                    </ion-text>
                </div>
                <div class="otp-verification flex-col ion-padding">
                    <ion-item>
                        <ion-label position="floating">Enter OTP</ion-label>
                        <ion-input class="otp-input ion-text-center" type="password" [formControl]="otp"></ion-input>
                    </ion-item>
                    <span class="actions flex-row ion-padding ion-margin-top">
                        <ion-fab>
                            <ion-button class="continue-button" color="primary" [disabled]="loader" (click)="otp?.valid&&verifyOTP()">
                                <!-- <ion-icon *ngIf="!loader" name="chevron-forward"></ion-icon> -->
                                 <p>Continue</p>
                                <ion-spinner *ngIf="loader" name="crescent"></ion-spinner>
                            </ion-button>
                        </ion-fab>
                    </span>
                </div>
                <div class="sign-up">
                    <ion-fab>
                        <ion-button class="continue-button" color="primary" (click)="reset()" [disabled]="loader">
                            <!-- <ion-icon name="chevron-back"></ion-icon> -->
                             <p>Back</p>
                        </ion-button>
                    </ion-fab>
                </div>
            </div>
        </ion-slide>
    </ion-slides>
</ion-content>