.container {
  width: 100%;
  height: 100%;
  text-align: left;
  padding-left: 16px;
  justify-content: space-between;
  ion-fab {
    position: unset;
  }
  .header {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .logo {
      width: 144px;
      height: 144px;
      display: block;
      align-items: center;
      justify-content: center;
    }

    h1 {
      line-height: 38px;
    }

    p {
      line-height: 22px;
      margin-top: 8px;
      color: var(--ion-color-step-350);
    }
  }

  .login {
    flex: 1;
    justify-content: center;
    .mat-form-field {
      width: 100%;
      font-size: 14px;
    }
  }
  .actions {
    justify-content: flex-end;
  }
  .otp-input {
    letter-spacing: 18px;
  }

  .continue-button p {
    // width: 100%; // Make the button take the full width of its container
    // height: 50px; // Set the height of the button
    // border-radius: 8px; // Apply a slight border-radius to give it rounded corners
    // font-size: 18px; // Adjust the font size
    // background-color: #3399cc; // Set your preferred background color
    color: white; // Set the text color to white
    // &:disabled {
    //   background-color: #b3b3b3; // Change the background color when disabled
    //   color: white; // Keep the text color white when disabled
    // }
  }
}  
