<div class="doc flex-col">
    <span class="preview flex-col">
        <ion-icon class="large" name="document"></ion-icon>
    </span>
    <span class="status actions flex-row">
        <ion-icon class="large" name="document"></ion-icon>
        <mat-progress-spinner *ngIf="(doc?.progress < 100 && doc?.progress > 0)"
            [mode]="(doc?.progress <= 10) ? 'indeterminate' : 'determinate'" [value]="doc?.progress" strokeWidth="2"
            [diameter]="30">
        </mat-progress-spinner>
        <p class="name"> {{ doc?.name }} </p>
        <ion-buttons *ngIf="doc?.progress < 100">
            <!-- (click)="toggleDownloading()" -->
            <ion-button class="small">
                <ion-icon class="medium" slot="icon-only" [name]="doc?.progress <= 0 ? 'download' : 'close'"></ion-icon>
            </ion-button>
        </ion-buttons>
    </span>
</div>