.kaagaz-card {
  // box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  .doc {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-top-left-radius: 6px;
  }
  .details {
    flex: 1 1;
  }
  .footer {
    border-end-end-radius: 6px;
    border-end-start-radius: 6px;
    background: rgba($color: var(--ion-color-primary-tint-rgb), $alpha: 0.9);
    &.failed {
      background: rgba($color: var(--ion-color-danger-rgb), $alpha: 0.9);
    }
  }
}
