img,
.pdf-viewer,
video,
.icon-view,
.loader {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  box-shadow: 0px 0px 1px 2px
    rgba($color: var(--ion-color-light-rgb), $alpha: 0.5);
  ::ng-deep {
    .ng2-pdf-viewer-container {
      border-radius: inherit;
    }
  }
}

ion-avatar {
  width: 100%;
  height: 100%;
}

audio {
  width: 100%;
}

.icon-view {
  color: inherit;
  background: inherit;
  align-items: center;
  justify-content: center;
  ion-icon,
  .mat-icon {
    color: inherit;
  }
}
