<kaagaz-doc-picker [multiple]="multiple" (fileSelected)="onFileSelection($event)" [asProfileImage]="asProfileImage">
    <ng-container *ngFor="let file of savedFiles;let fileIndex = index">
        <kaagaz-doc-renderer kaagazDocUploader [asProfileImage]="asProfileImage" [handleFocus]="multiple"
            (fileFocus)="onFileFocus(file)" (fileDelete)="onFileDelete(file, fileIndex)"
            (fileUploaded)="onServerUrlFetched($event, fileIndex)" [file]="file">
        </kaagaz-doc-renderer>
    </ng-container>
</kaagaz-doc-picker>